* {
    padding: 0;
    margin: 0;
    font-family: Verdana;
}

html,
body {
    width: 100vw;
    height: 100vh;
}

main {
    width: 100%;
    height: 100%;
    display: table;
}

#main-container {
    width: 100%;
    height: 100%;
    display: table-row;
}

#left-content {
    width: 38%;
    height: 100%;
    display: table-cell;
    position: relative;
    background-color: black;
}

#img-strip {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

#img-big-cover {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    position: absolute;
    z-index: 2;
    opacity: 0;
    animation: img-big-cover-slide 2s forwards 1s;
    animation-timing-function: cubic-bezier(.13,.7,.35,.91);
}

@keyframes img-big-cover-slide {
    0% {
        opacity: 1;
        width: 0%;
    }
    50% {
        width: 100%;
    }
    100% {
        opacity: 1;
        width: 0%;
    }
}

#cover-img {
    width: 100%;
    height: 100vh;
    display: block;
    float: left;
    object-fit: cover;
    visibility: hidden;
    animation: show-cover-img 1s forwards 1s;
    animation-timing-function: ease-in-out;
}

@keyframes show-cover-img {
    99% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}

#right-content {
    width: 62%;
    height: 100%;
    display: table-cell;
    vertical-align: top;
    background-color: black;
}

#content-conteiner {
    width: 100%;
    height: 100%;
}

#content-header {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
}

#home-title {
    margin-left: 10%;
    position: relative;
    overflow: hidden;
    color: whitesmoke;
    visibility: hidden;
    white-space: nowrap;
    font-size: 8em;
    font-weight: bold;
    letter-spacing: .15em;
    animation: show-hometitle 1s forwards 1s;
    animation-timing-function: ease-in-out;
}

@keyframes show-hometitle {
    99% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}

#home-title::before {
    content: "";
    width: 100%;
    position: absolute;
    bottom: 5%;
    visibility: visible;
    background-color: black;
    animation: hometitle-cover-pull 2s forwards 1s;
    animation-timing-function: cubic-bezier(.13,.7,.35,.91);
}

@keyframes hometitle-cover-pull {
    0% {
        height: 0%;
        background-color: whitesmoke;
    }

    50% {
        height: 100%;
    }

    100% {
        height: 0%;
        background-color: whitesmoke;
    }
}

#content-center {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#subtitles-sect {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.subtitle-wrapper {
    margin-bottom: 5%;
    margin-left: 5%;
    position: relative;
}

.subtitle {
    overflow: hidden;
    letter-spacing: .3em;
    color: black;
    white-space: nowrap;
    font-size: 2em;
    animation: show-subtitle 0.8s forwards steps(35, end) 3.3s;
}

@keyframes show-subtitle {
    from {
        width: 0%;
        color: whitesmoke;
    }

    to {
        width: 100%;
        color: whitesmoke;
    }
}

.subtitle::before {
    content: "";
    width: 18px;
    height: 100%;
    bottom: 5px;
    position: absolute;
    left: 100%;
    background-color: transparent;
    animation: typing 2s forwards steps(35, end) 2.8s;
}

@keyframes typing {
    0% {
        left: 0%;
        background-color: whitesmoke;
    }

    20% {
        left: 0%;
        background-color: whitesmoke;
    }

    70% {
        left: 100%;
    }

    99% {
        background-color: whitesmoke;
    }

    100% {
        background-color: transparent;
    }
}

.subtitle::after {
    content: "";
    width: 18px;
    height: 3px;
    bottom: 5px;
    position: absolute;
    background-color: transparent;
    animation: blinking 0.8s 4.5s 3;
}

@keyframes blinking {
    from {
        background-color: transparent;
    }

    to {
        background-color: whitesmoke;
    }
}

#content-footer {
    width: 100%;
    height: 20%;
}

#strips-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.strip {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.l-sector-container {
    width: 100%;
    height: 100%;
    flex-shrink: 1;
    position: relative;
}

.r-sector-container {
    width: 100%;
    height: 100%;
    flex-shrink: 1;
    position: relative;
}

.l-sector {
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: whitesmoke;
    animation: l-sector-animation 3s forwards infinite;
    animation-timing-function: cubic-bezier(.31, .58, .48, 1);
}

.r-sector {
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: whitesmoke;
    animation: r-sector-animation 3s forwards infinite;
    animation-timing-function: cubic-bezier(.69, 0, .73, .44);
}

@keyframes l-sector-animation {
    0% {
        width: 0%;
        left: 0%;
    }

    25% {
        width: 100%;
        left: 0%;
    }

    65% {
        width: 0%;
        left: 100%;
    }
}

@keyframes r-sector-animation {
    35% {
        width: 0%;
        left: 0%;
    }

    75% {
        width: 100%;
        left: 0%;
    }

    100% {
        width: 0%;
        left: 100%;
    }
}