* {
    padding: 0;
    margin: 0;
    font-family: Verdana;
    color: GhostWhite;
}

html,
body {
    width: 100vw;
    height: 100vh;
}

main {
    width: 100%;
    height: 100%;
    display: table;
}

#main-container {
    width: 100%;
    height: 100%;
    display: table-row;
}

#left-content {
    width: 25%;
    height: 100%;
    display: table-cell;
    position: relative;
    background-image: url(/img/background.png);
    background-color: rgb(45, 45, 45);
}

#img-strip {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

#img-big-cover {
    width: 100%;
    height: 100%;
    background-color: GhostWhite;
    position: absolute;
    z-index: 2;
    animation: img-big-cover-slide 0.5s forwards 1s;
    animation-timing-function: cubic-bezier(.39, .38, .46, 1.01);
}

@keyframes img-big-cover-slide {
    0% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}

#cover-img {
    width: 100%;
    height: 100vh;
    display: block;
    float: left;
    object-fit: cover;
}

#right-content {
    width: 75%;
    height: 100%;
    display: table-cell;
    vertical-align: top;
    background-image: url(/img/background.png);
    background-color: rgb(45, 45, 45);
}

#content-conteiner {
    width: 100%;
    height: 100%;
}

#content-header {
    width: 100%;
    height: 20%;
    margin: 0 auto;
}

#subtitles-sect {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.subtitle-wrapper {
    margin: 3%;
    position: relative;
    z-index: 1;
}

.subtitle {
    padding-left: 4%;
    padding-bottom: 4%;
    overflow: hidden;
    letter-spacing: 0.5em;
    white-space: nowrap;
    visibility: hidden;
    font-size: 1vw;
    font-weight: lighter;
    animation: show-subtitle 0.8s forwards steps(35, end) 2s;
    transition: color 0.5s;
}

@keyframes show-subtitle {
    from {
        width: 0%;
        visibility: visible;
    }

    to {
        width: 100%;
        visibility: visible;
    }
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.subtitle::before {
    content: "";
    width: 18px;
    height: 100%;
    bottom: 5px;
    position: absolute;
    left: 104%;
    background-color: transparent;
    animation: typing 2s forwards steps(35, end) 1.5s;
}

@keyframes typing {
    0% {
        left: 0%;
        background-color: GhostWhite;
    }

    20% {
        left: 0%;
        background-color: GhostWhite;
    }

    70% {
        left: 104%;
    }

    99% {
        background-color: GhostWhite;
    }

    100% {
        background-color: transparent;
    }
}

.subtitle::after {
    content: "";
    width: 18px;
    height: 3px;
    bottom: 5px;
    position: absolute;
    background-color: transparent;
    animation: blinking 0.8s 3.2s 3;
}

@keyframes blinking {
    from {
        background-color: transparent;
    }

    to {
        background-color: GhostWhite;
    }
}

#content-center {
    width: 93%;
    height: 65%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home-title {
    width: 100%;
    height: fit-content;
    margin-bottom: 10%;
    overflow: hidden;
    white-space: nowrap;
    font-size: 11vw;
    font-weight: bolder;
    line-height: 1;
}

#home-title-span {
    height: 100%;
    display: block;
    text-align: center;
    visibility: hidden;
    animation: reveal 1s cubic-bezier(0.77, 0, 0.175, 1) forwards 0.5s;
}

@keyframes reveal {
    0% {
        visibility: visible;
        transform: translate(0, 100%);
    }

    100% {
        visibility: visible;
        transform: translate(0, 0);
    }
}

#content-footer {
    width: 100%;
    height: 15%;
}

#strips-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.strip {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.l-sector-container {
    width: 100%;
    height: 100%;
    flex-shrink: 1;
    position: relative;
}

.r-sector-container {
    width: 100%;
    height: 100%;
    flex-shrink: 1;
    position: relative;
}

.l-sector {
    width: 0%;
    height: 60%;
    position: absolute;
    background-image: linear-gradient(to right, rgb(210, 250, 255), rgb(230, 252, 255));
    animation: l-sector-animation 4s forwards infinite;
    animation-timing-function: cubic-bezier(.31, .58, .48, 1);
}

.r-sector {
    width: 0%;
    height: 60%;
    position: absolute;
    background-image: linear-gradient(to right, rgb(230, 252, 255), rgb(210, 250, 255));
    animation: r-sector-animation 4s forwards infinite;
    animation-timing-function: cubic-bezier(.69, 0, .73, .44);
}

@keyframes l-sector-animation {
    0% {
        width: 0%;
        left: 0%;
    }

    25% {
        width: 100%;
        left: 0%;
    }

    80% {
        width: 0%;
        left: 100%;
    }
}

@keyframes r-sector-animation {
    20% {
        width: 0%;
        left: 0%;
    }

    75% {
        width: 100%;
        left: 0%;
    }

    100% {
        width: 0%;
        left: 100%;
    }
}